@model Biblioteca.Models.Emprestimo
@{
    ViewData["Title"] = "Detalhes";
    ViewBag.Menu = "Emprestimo";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-gray">
                <div class="card-header">
                    <h3 class="card-title"></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            @if (Model.Livro.Imagem != null)
                            {
                                <img src="~/images/Livros/@Model.Livro.Imagem" height="300" width="200" style="margin-bottom:10px" />
                            }
                            else
                            {
                                <i style="font-size:100px" class="fa fa-book"></i>
                            }
                        </div>
                        <div class="offset-md-3 col-md-6" style="margin-top:-30%">
                            <dl>
                                <dt>
                                    Livro
                                </dt>
                                <dd>
                                    @Model.Livro.Nome
                                </dd>
                                <dt>
                                    Emprestado a
                                </dt>
                                <dd>
                                    @Model.Aluno
                                </dd>
                                <dt>
                                    No dia 
                                </dt>
                                <dd>
                                    @Model.DataEmprestimo.ToString("dd/MM/yy")
                                </dd>
                                <dt>
                                    Devolvido no dia
                                </dt>
                                <dd>
                                    @Model.DataDevolucao.ToString("dd/MM/yy")
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <a asp-controller="Emprestimo" asp-action="Index" class="btn btn-secondary">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>


