@model Biblioteca.Models.Livro

@{
    ViewData["Title"] = "Editar";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-gray">
                <div class="card-header">
                    <h3 class="card-title">Editar</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form asp-controller="Livro" asp-action="Editar" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#conteudo">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Titulo" class="control-label"></label>
                                    <input asp-for="Titulo" class="form-control" />
                                    <span asp-validation-for="Titulo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Sinopse" class="control-label"></label>
                                    <textarea rows="7" asp-for="Sinopse" class="form-control"></textarea>
                                    <span asp-validation-for="Sinopse" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Autor" class="control-label"></label>
                                    <input asp-for="Autor" class="form-control" />
                                    <span asp-validation-for="Autor" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Editora" class="control-label"></label>
                                    <input asp-for="Editora" class="form-control" />
                                    <span asp-validation-for="Editora" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Unidade" class="control-label"></label>
                                    <input asp-for="Unidade" type="number" min="1" class="form-control" />
                                    <span asp-validation-for="Unidade" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Genero" class="control-label"></label>
                                    <input asp-for="Genero" class="form-control" />
                                    <span asp-validation-for="Genero" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Imagem" type="hidden" />
                                    <input type="submit" value="Salvar" class="btn btn-warning" />
                                    <a asp-action="Index" class="btn btn-default" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#conteudo">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>